USE [master]
GO
/****** Object:  Database [wftilecounts]    Script Date: 8/13/2019 8:09:17 PM ******/
CREATE DATABASE [wftilecounts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wftilecounts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\wftilecounts.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'wftilecounts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\wftilecounts_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wftilecounts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wftilecounts]
GO
/****** Object:  Table [dbo].[MapPoints]    Script Date: 8/13/2019 8:09:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RunID] [int] NOT NULL,
	[TileName] [varchar](100) NOT NULL,
	[CoordsTaken] [varchar](25) NULL,
 CONSTRAINT [PK_MapPoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Missions]    Script Date: 8/13/2019 8:09:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Missions](
	[Type] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Missions] PRIMARY KEY CLUSTERED 
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Runs]    Script Date: 8/13/2019 8:09:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Runs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RunDate] [date] NOT NULL,
	[MissionType] [varchar](100) NOT NULL,
	[IdentityString] [varchar](250) NULL,
	[LogRange] [varchar](25) NULL,
	[TotalTiles] [int] NULL,
	[UniqueTiles] [int] NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Runs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tiles]    Script Date: 8/13/2019 8:09:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiles](
	[Name] [varchar](100) NOT NULL,
	[PopularName] [varchar](100) NULL,
	[TilesetName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Tiles] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tilesets]    Script Date: 8/13/2019 8:09:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tilesets](
	[Name] [varchar](100) NOT NULL,
	[Faction] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tilesets] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/13/2019 8:09:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[RunsUploaded] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MapPoints]  WITH CHECK ADD  CONSTRAINT [FK_MapPoints_Runs] FOREIGN KEY([RunID])
REFERENCES [dbo].[Runs] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MapPoints] CHECK CONSTRAINT [FK_MapPoints_Runs]
GO
ALTER TABLE [dbo].[MapPoints]  WITH CHECK ADD  CONSTRAINT [FK_MapPoints_Tiles] FOREIGN KEY([TileName])
REFERENCES [dbo].[Tiles] ([Name])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MapPoints] CHECK CONSTRAINT [FK_MapPoints_Tiles]
GO
ALTER TABLE [dbo].[Runs]  WITH CHECK ADD  CONSTRAINT [FK_Runs_Missions] FOREIGN KEY([MissionType])
REFERENCES [dbo].[Missions] ([Type])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Runs] CHECK CONSTRAINT [FK_Runs_Missions]
GO
ALTER TABLE [dbo].[Runs]  WITH CHECK ADD  CONSTRAINT [FK_Runs_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Runs] CHECK CONSTRAINT [FK_Runs_Users]
GO
ALTER TABLE [dbo].[Tiles]  WITH CHECK ADD  CONSTRAINT [FK_Tiles_Tilesets] FOREIGN KEY([TilesetName])
REFERENCES [dbo].[Tilesets] ([Name])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tiles] CHECK CONSTRAINT [FK_Tiles_Tilesets]
GO
USE [master]
GO
