
@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <h1>Index</h1>

        View Tiles Information

        <p>Forthcoming: Tile Search, Tile Lists, Tileset Lists</p>
    </div>


