
@{
    ViewData["Title"] = "Code";
}

    <div class="container">
        <h1>Code</h1>

        <p>This page is written in C# using ASP.Net Core 2.2 utilizing Entity Framework to an SQL Server, utilizing a Model-View-Controller format.</p>

        <p>Page scaffolding is created with Microsoft Razor, Bootstrap 4.0, and some Jquery/Ajax </p>

        <p>The github for this project is <a href="https://github.com/lynkfox/WarframeTilesets">Here</a>.</p>

        <p>All code for this website is provided under <a href="https://github.com/lynkfox/WarframeTilesets/blob/master/LICENSE">GNU General Public License v3.0</a>. Anyone is free to take, modify, and use the source code for this project as they see fit.</p>

        <p>Anyone who wishes to may fork the project from GitHub, and if they wish they may request Merges. We freely welcome any additions that increase Security, loading times, or effeciency of the project, as well as any that clean up code, or make the Views more streamlined and pretty.</p>


    </div>
