@{
    ViewData["Title"] = "WF Tiles";
}




<environment include="Development">
    <strong>Development Environment Only Command - Process all Pictures/Warframe files in pictures directory --></strong> @Html.ActionLink("Test Process Files", "ProcessFiles", "Process")

</environment>


<environment include="Development">
    <strong>Development Environment</strong>


<form asp-controller="Home" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">

    <input type="file" name="fileList[]" multiple id="filesToUpload" onChange="makeFileList();" />
    <button type="submit">Upload Files</button>
</form>

    <div class="fileNames">File Names Selected Are:</div>
    <ul id="fileList" class="list-group list-group-horizontal"></ul>
<hr />
</environment>
<hr />




<div class="row bg-dark">
    <div class="col-lg-12">
        <h1 class="display-4 text-center">Warframe Tile Counter</h1>

        <h2 class="text-center">Welcome to the Warframe Tile Counter</h2>
        <p>
            This page takes a set of Warframe Screenshots, taken with the f6 key in game, and processes their meta data. The point of this page is to collect
            data on how common warframe tiles <b>really</b> are.
        </p>

    </div>
</div>
<div class="row bg-dark">
    <div class="col-md-4 border-right border-light align-self-center ">
        <img src="~/img/exifinfo-example.png" alt="Exif Extracted Image Example" width="350" class="rounded img-fluid">
    </div>

    <div class="col-md-8">

        <p><h2 class="text-center">What is this page doing?</h2></p>

        <p>Screenshots taken with the F6 key in game are tagged with a bit of metadata.</p>

        <p>Every image taken by any sort of digital device - be it a camera or screenshots - has Metadata. This meta data contains information such as Size, resolution, what kind of camera took the image, gps coords of where the image was taken.</p>

        <p>Warframe Screenshots (taken with F6 only) also contain a comment in the JpegComment section of the meta data. (Don't worry, they don't contain any gps coords or information about your comptuer either!)</p>

        <p>(If you want to see, you can stick a F6 Screenshot, found in Pictures/Warframe on your computer, into <a href="https://exifinfo.org/">this website</a> - an example of which is in the picture to the left.)</p>
    </div>
</div>
<div class="row bg-dark">
    <div class="col-12">
        <p>This site looks through the metadata of the image you are uploading. The only things it pulls out to store is the JpegComment (where DE puts its info) and the date the image was saved to your computer.</p>

        <p>In its raw form, the comment looks like this:</p>
        <p><i>/Lotus/Levels/Proc/Corpus/CorpusShip/aRqMKjgUUmhMp2BgZ1SxkiJJVS4hUpbUTKJpR+GAFEIAwASQQFQAjGDCIFYAgAEEBABBBQA.lp Zone: /Lotus/Levels/Guild/XHall1 P: -24, -46, -92 H:-89 Log: 890.012</i></p>

        <p>We take a bunch from this:</p>
        <div class="container">
            <div class="row">
                <div class="col-6 border-light border-bottom border-right">
                    <b><i>Data</i></b>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    <b><i>What it means?</i></b>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border-light border-bottom border-right text-truncate">
                    <i>aRqMKjgUUmhMp2BgZ1SxkiJJVS4hUpbUTKJpR+GAFEIAwASQQFQAjGDCIFYAgAEEBABBBQA.lp</i>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    A Unique Map Identifier string. Not sure how it is generated, but it does seem to be completely unique between missions+generated maps.
                </div>
            </div>
            <div class="row">
                <div class="col-6 border-light border-bottom border-right text-truncate">
                    <i>Corpus/CorpusShip/</i>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    Faction/Tileset
                </div>
            </div>
            <div class="row">
                <div class="col-6 border-light border-bottom border-right text-truncate">
                    <i>XHall1</i>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    Room Name (Tile Name)
                </div>
            </div>
            <div class="row">
                <div class="col-6 border-light border-bottom border-right text-truncate">
                    <i>P: -24, -46, -92 H:-89</i>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    Coordinates of where the screenshot was taken. This is probabably most likely just room dependant.
                </div>
            </div>
            <div class="row">
                <div class="col-6 border-light border-bottom border-right text-truncate">
                    <i>Log: 890.012</i>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    This is most likely the line that corresponds to when you took the picture, in the continually running log for your current session. It is always going up and growing, the longer you are logged in the bigger the number.
                </div>
            </div>
        </div>

        <p>The last two (Coords and Log) are probably never going to be useful to this site. However, they are stored as a just in case.</p>

    </div>

</div>






<hr />



