
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<p>test page for jscript</p>

<div class="d-inline-flex">
    <span class="border rounded border-light" name="Span"><label for="test"><img src="~/img/markers/ayatanstatue.png" /></label><input type="checkbox" id="test" /></span>
    
</div>

