
@{
    ViewData["Title"] = "Tips";
}

    


    <div class="container">
        <div class="row bg-dark">
            <div class="col-lg-12">
                <h1 class="display-4 text-center">Tips and Tricks</h1>

                <h2 class="text-center">For a Good Upload to the Database</h2>
                <p>
                    DE does a lot of things very well. Sometimes, there are some very interesting choices that don't seem to follow conventions.
                </p>

                <p>
                    On top of that, what is provided in these Meta Data comments is pretty limited for what this site is attempting to accomplish. The information doesn't really lend it self to accurately
                    figuring out the number of rooms in a map, or if a submission is a duplicate of the one before it. Helpers and exception cases have been coded into the site, but they are only going to go so far. If
                    it is an exception that hasn't been encountered before it's going to get through. If it is something that wasn't thought of, its going to get through.
                </p>

                <p>So, here are some tips to helping to create good uploads.</p>

            </div>
            <div class="row">
                <div class="col-6 border-light border-bottom border-right">
                    <b><i>Tip or Trick:</i></b>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    <b><i>How it Helps this project:</i></b>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border-light border-bottom border-right">
                    <b>Play in Solo</b>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    <i>
                        While there is a partial map upload option, it reduces the effectiveness of the data being collected. Playing in a group means that someone else is going to be rushing
                        to get to the end, and it will be very easy to miss rooms or the extraction timer force extraction before every room is screenshoted.
                    </i>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border-light border-bottom border-right">
                    <b>Screen Shot every room</b>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    <i>Even the Closets and dead end caps. To get a proper accurate room count for a map, those are needed too!</i>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border-light border-bottom border-right">
                    <b>Don't Rename the Screenshots, and get rid of them after they've been added to the database</b>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    <i>Warframe's default way of naming the F6 Screenshots is great! It is also gives us a chance to see if there are duplicate screenshots from the same room. Leave the names the same, and after you've successfully added that run to the database, get rid of them and start the naming sequence over.</i>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border-light border-bottom border-right">
                    <b>Only upload one map at a time</b>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    <i>It's easier to recall if you had two rooms that were the same in a row or if it was an accidental double screenshot in the same room if you do only one mission at a time.</i>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border-light border-bottom border-right">
                    <b>Make sure you're completely inside the room</b>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    <i>Looking through a door into another room doesn't record the room you're looking at, just the one you're in.</i>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border-light border-bottom border-right">
                    <b>Most of the time, closed doors signify a new room</b>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    <i>Not always of course. Sometimes they are hallways attached to the previous tile. Sometimes there is no door between tiles. In this case, if you aren't certain take the extra screenshot and just look for it during the upload to exclude if it turns out to have the same room name.</i>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border-light border-bottom border-right">
                    <b>The map doesn't fill in the new room until you step into it.</b>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    <i>It is often easy to see a new room by watching the map (holding the map key down will make a bigger overlaid map that is easier to watch) and getting near a door. If beyond the door is a new room, then the map won't draw it until you've passed through. Most of the time.</i>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border-light border-bottom border-right">
                    <b>If you aren't 100% certain you got every room only once, click the 'Partial Run' button.</b>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    <i>Better to know that the data may be incomplete, than to think that it is complete.</i>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border-light border-bottom border-right">
                    <b>But in the end, its just for fun</b>
                </div>
                <div class="col-6 border-light border-bottom border-right">
                    <i>Don't sweat it. It's just a fan project for fun. No reason to worry if you made a mistake or if something is slightly wrong. With enough contributions, those mistakes become statistically insignificant, and are not super important.</i>
                </div>
            </div>
        </div>
    </div>
