
@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <h1>Tileset Frequency and other Information</h1>

        To Come: Select Tileset, and page by Tileset: Room Frequency, Tileset: Collectible Frequency.
    </div>


