

    <div class="container">
        <h1>Opps! Nothing was selected.</h1>

        <p>Did you mean to hit Submit with no tiles selected to be processed? If so, congrats. Nothing was processed or added to the database.</p>

        <p>If not, go back and try again!</p>
    </div>


