@model IEnumerable<WFTileCounter.ModelsView.ImgMetaData>

@{
    ViewData["Title"] = "ProcessFiles2";
}

<h1>ProcessFiles2</h1>

<environment include="Development">
    <strong>Testing Page for checkboxes. DELETE ME!!!</strong>

</environment>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.KeepThis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.KeepThis)
            </td>

        </tr>
}
    </tbody>
</table>
