@model IEnumerable<WFTileCounter.ModelsView.ImgMetaData>

@{
    ViewData["Title"] = "Processing Files";
}


<h1>Files to be Processed</h1>

<p>These are each of the files you have selected to upload.</p>

<p>It is practically impossible to check if you took a screen shot twice in the same tile. As such, we are making guesses. Some of these guesses rely on the Log #, some on the name of the tile, and some on the coordinates. But Honestly, it is really difficult to tell. So please review each image and determine if it is a duplicate or not. Ones we think are will be marked with a red Possible Dupe label.</p>

<p>There is a set of various detail checkboxes for each tile too. These are optional - if you remember which tile any of those happened to occur on, please check it. If you don't remember, no harm if you don't apply it.</p>

<p>If you are not certain that you got a picture of every single tile on the map, uncheck the 'Full Run' option with the Map ID string, at the start of each section of pictures. This will let us know not to include that run when trying to decipher the MapID string and what it means.</p>

<hr />


<form asp-controller="Process" asp-action="Keep" method="post">


    <input type="submit" value="Submit Data" id="btnSubmit" />
    <hr />

    @Html.EditorForModel()

    <input type="submit" value="Submit Data" id="btnSubmit" />
    <hr />
</form>






